@model CartViewModel


<a asp-controller="Cart" asp-action="Index">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <i>Корзина</i>
    @if (Model.Cart.CartItems.Count > 0)
    {
        <span id="cart-status">
            @Model.Cart.CartItems.Count
        </span>
    }
    @*<i class="fas fa-shopping-cart"></i>*@
</a>

