@model Device

<div class="col-md-6 col-lg-4 g-mb-30">
    <img src="@Model.SmallImageUrl" style="width:100%">
    <h2>@Model.Name</h2>
    <h6>Цена: @Model.Price₴</h6>
    <p>@Model.LongDescription</p>
</div>
 