@if (User.Identity.IsAuthenticated)
{
    <li>
        <a class=" text-primary" asp-action="Profile" asp-controller="Account" style="margin-right:10px">Ваш профиль @User.Identity.Name</a>
    </li>
    <li>
        <form method="post" asp-controller="Account" asp-action="Logout" class="nav-item mr-sm-2" style="margin-left:10px">
            <input class="text-primary" type="submit" value="Выход" />
        </form>
    </li>

}
else
{
    <li class="nav-item mr-sm-2">
        <a class="link-primary" asp-controller="Account" asp-action="Register" style="margin-right:10px">Регистрация</a>
        |
        <a class="link-primary" asp-controller="Account" asp-action="Login" style="margin-left:10px">Вход</a>
    </li>
}