@model IEnumerable<Device>
@{
    ViewData["Title"] = "List";
}

<div class="container">
    <div class="row">
        @foreach (Device dev in Model)
        {
            @await Html.PartialAsync("_GetDevice", dev)
        }
    </div>
</div>