@model DeviceListViewModel
@{
    ViewData["Title"] = "List";
}

<h2>@Model.CurrentKind</h2>

<div class="container">
    <div class="row">
        @foreach (Device dev in Model.Devices)
        {
            @await Html.PartialAsync("_GetDevice", dev)
        }
    </div>
</div>